<section class="contacts">
  <div class="container contacts__container">
    <div class="contacts__wrapper-address">
      <h2 class="title contacts__title">Адрес:</h2>

      <p class="contacts__city">город Архангельск</p>

      <p class="contacts__address">улица Комсомольская, дом 49</p>
    </div>

    <div class="contacts__wrapper-tel">
      <h2 class="title contacts__title">Телефон:</h2>

      <a class="contacts__link" href="tel:+79217193281">+7(921)719-32-81</a>
    </div>

    <div class="contacts__wrapper-email">
      <h2 class="title contacts__title">E-mail:</h2>

      <a class="contacts__link" href="mailto:kotor79@gmail.com">kotor79@gmail.com</a>
    </div>

    <form class="contacts__form js-form" method="post" action="https://echo.htmlacademy.ru">
      <h2 class="title contacts__title">Заказать обратный звонок</h2>

      <label class="contacts__label">
        <span>Ваше имя</span>

        <input class="contacts__name" type="text" name="Name" required="required">
      </label>

      <label class="contacts__label">
        <span>Номер телефона</span>

        <input class="contacts__tel" type="tel" name="tel" placeholder="+7 (___) ___-__-__" required="required">
      </label>

      <label class="contacts__label">
        <span>Электронная почта</span>

        <input class="contacts__email" type="email" name="email">
      </label>

      <button class="contacts__submit" type="submit">Отправить</button>
    </form>
  </div>
</section>
