<header class="header">
  <div class="container header__container">
    <div class="header__logo">
      <a href="/" class="header__logo-link">Александр Чемакин</a>
    </div>

    <nav class="header__menu">
      <ul class="list-reset list header__list">
        <li class="header__item">
          <a href="about.html" class="header__link">Обо мне</a>
        </li>

        <li class="header__item">
          <a href="works.html" class="header__link">Мои проекты</a>
        </li>

        <li class="header__item">
          <a href="contacts.html" class="header__link">Контакты</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
