<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>Александр Чемакин</title>
  <link rel="preload" href="fonts/Montserrat-Bold.woff" as="font" type="font/woff" crossorigin>
  <link rel="preload" href="fonts/Montserrat-Regular.woff" as="font" type="font/woff" crossorigin>
  <link rel="stylesheet" href="css/vendor.css">
  <link rel="stylesheet" href="css/main.css">
  <script defer src="js/main.js"></script>

  <meta property="og:title" content="Александр Чемакин - веб-разработчик">
  <meta property="og:type" content="article">
  <meta property="og:url" content="index.html">
  <!-- <meta property="og:image" content="img/openGraph.png"> -->
  <!-- <meta property="og:image:width" content="1200"> -->
  <!-- <meta property="og:image:height" content="630"> -->
  <meta property="og:description" content="Персональный сайт веб-разработчика Александра Чемакина">
  <meta property="og:site_name" content="Персональный сайт веб-разработчика Александра Чемакина">
</head>
