<section class="me">
  <div class="container me__container">
    <h2 class="me__title">Я - веб-разработчик.</h2>

    <div class="tabs" data-tabs="tab">
      <ul class="list-reset tabs__nav">
        <li class="tabs__nav-item"><button class="tabs__nav-btn" type="button">Образование</button></li>
        <li class="tabs__nav-item"><button class="tabs__nav-btn" type="button">Мои навыки</button></li>
        <li class="tabs__nav-item"><button class="tabs__nav-btn" type="button">В работе использую</button></li>
      </ul>

      <div class="tabs__content">
        <!-- Образование -->
        <div class="tabs__panel education">
          <div class="education__wrapper">
            <div class="education__text">
              <h3>Северный (Арктический) федеральный университет имени М.В. Ломоносова, г.
                Архангельск</h3>
              <p>Специализация - Бизнес-информатика</p>
              <p>Период обучения – 2013-2017</p>
              <p>Квалификация – бакалавр</p>
            </div>

            <img src="img/me/diplom_NAFU.jpg" alt="Диплом САФУ">
          </div>

          <h3 class="education__title">Курсы</h3>

          <div class="swiper js-swiper-education">
            <ul class="list-reset swiper-wrapper">
              <li class="swiper-slide">
                <img src="img/me/skillbox.jpg" alt="Диплом Скилбох о переквалификации">
              </li>
              <li class="swiper-slide">
                <img src="img/me/itmo.jpg" alt="Диплом ИТМО о переквалификации">
              </li>
              <li class="swiper-slide">
                <img src="img/me/skillbox_html.jpg" alt="Сертификат Skillbox HTML">
              </li>
              <li class="swiper-slide">
                <img src="img/me/skillbox_html1.jpg" alt="Сертификат Skillbox HTML">
              </li>
              <li class="swiper-slide">
                <img src="img/me/skillbox_js.jpg" alt="Сертификат Skillbox JS">
              </li>
              <li class="swiper-slide">
                <img src="img/me/skillbox_vue.jpg" alt="ДСертификатSkillbox VUE">
              </li>
              <li class="swiper-slide">
                <img src="img/me/Nekommerch-2-943199-ORF.jpg" alt="Сертификат Интуит">
              </li>
              <li class="swiper-slide">
                <img src="img/me/Nekommerch-2-949240-ORF.jpg" alt="Сертификат Интуит">
              </li>
              <li class="swiper-slide">
                <img src="img/me/Nekommerch-2-955777-ORF.jpg" alt="Сертификат Интуит">
              </li>
              <li class="swiper-slide">
                <img src="img/me/1.jpg" alt="Сертификат SoloLearn">
              </li>
              <li class="swiper-slide">
                <img src="img/me/2.jpg" alt="Сертификат SoloLearn">
              </li>
              <li class="swiper-slide">
                <img src="img/me/3.jpg" alt="Сертификат SoloLearn">
              </li>
              <li class="swiper-slide">
                <img src="img/me/4.jpg" alt="Сертификат SoloLearn">
              </li>
              <li class="swiper-slide">
                <img src="img/me/5.jpg" alt="Сертификат SoloLearn">
              </li>
            </ul>

            <div class="swiper-pagination"></div>

            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
          </div>
        </div>

        <!-- Мои навыки -->
        <div class="tabs__panel skills">
          <div class="swiper js-swiper-skills">
            <ul class="list-reset swiper-wrapper">
              <li class="swiper-slide">
                <img src="img/me/html5.png" alt="html5">
                <span>HTML</span>
              </li>

              <li class="swiper-slide">
                <img src="img/me/css3.png" alt="CSS">
                <span>SCC</span>
              </li>

              <li class="swiper-slide">
                <img src="img/me/java-script.png" alt="javascript">
                <span>JS</span>
              </li>

              <li class="swiper-slide">
                <img src="img/me/bootstrap.png" alt="Bootstrap">
                <span>Bootstrap</span>
              </li>

              <li class="swiper-slide">
                <img src="img/me/jquery.png" alt="jQuery">
                <span>jQuery</span>
              </li>

              <li class="swiper-slide">
                <img src="img/me/node-js.png" alt="NodeJs">
                <span>Node.js</span>
              </li>

              <li class="swiper-slide">
                <img src="img/me/vue-js.png" alt="VueJs">
                <span>Vue.js</span>
              </li>

              <li class="swiper-slide">
                <img src="img/me/react.png" alt="React">
                <span>React.js</span>
              </li>

              <li class="swiper-slide">
                <img src="img/me/gulp.png" alt="Gulp">
                <span>Gulp</span>
              </li>

              <li class="swiper-slide">
                <img src="img/me/webpack.png" alt="Webpack">
                <span>Webpack</span>
              </li>

              <li class="swiper-slide">
                <img src="img/me/sass.png" alt="sass">
                <span>Sass</span>
              </li>

              <li class="swiper-slide">
                <img src="img/me/git.png" alt="git">
                <span>Git</span>
              </li>

              <li class="swiper-slide">
                <img src="img/me/php.png" alt="php">
                <span>PHP</span>
              </li>

              <li class="swiper-slide">
                <img src="img/me/sql.png" alt="SQL">
                <span>SQL</span>
              </li>
            </ul>

            <div class="swiper-pagination"></div>

            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
          </div>

          <ul class="list-reset skills__list">
            <li class="skills__item">Семантическая верстка сайтов на HTML и CSS</li>
            <li class="skills__item">Делаю адаптивность, кроссбраузерность и доступность сайтов</li>
            <li class="skills__item">Создание интерактива для сайтов с помощью JavaScript</li>
            <li class="skills__item">Разработка страниц и модулей сайтов на PHP</li>
            <li class="skills__item">Использую фреймворки и библиотеки Bootstrap, jQuery, Node.js, Vue.js, Vuex, Vue
              Router, React.js, Redux, React-Router и др</li>
            <li class="skills__item">Использую сборщики проектов Gulp, Webpack</li>
            <li class="skills__item">Знание препроцессоров CSS – SASS в нотации SCSS, Stylus</li>
            <li class="skills__item">Работаю в системе контроля версий версии Git, использую NPM</li>
            <li class="skills__item">Создаю реляционные базы данных и работаю с ними</li>
            <li class="skills__item">Составляю SQL-запросы</li>
            <li class="skills__item">Разбираюсь в чужом коде</li>
          </ul>

          <p class="skills__description">
            Обладаю неплохими коммуникативными навыками (умение слушать, убеждать, аргументировать свою точку зрения,
            работать
            в команде, имею опыт публичных выступлений), всегда стремлюсь к достижению поставленной цели, обладаю
            логическим
            мышлением, развита способность поиска и анализа информации, стрессоустойчив, умею управлять собственным
            развитием,
            планировать свою работу. Знаю английский язык на
            среднем
            уровне. Считаю, что данные навыки будут полезны для достижения поставленной мной на ближайшее время цели, а
            также
            востребованы в будущей должности веб-разработчика.
          </p>
        </div>

        <!-- В работе использую -->
        <div class="tabs__panel use">
          <h3 class="use__title">Программное обеспечение</h3>

          <ul class="list-reset use__list">
            <li class="use__item">
              <img src="img/me/windows-10.png" alt="Windows 10">
              <p class="use__descr">Windows 10 (Операционная система)</p>
            </li>

            <li class="use__item">
              <img src="img/me/visual-studio-code.png" alt="Visual Studio Code">
              <p class="use__descr">Visual Studio Code (VSCode, редактор кода)</p>
            </li>

            <li class="use__item">
              <img src="img/me/figma.png" alt="figma">
              <p class="use__descr">Figma (графический онлайн-редактор)</p>
            </li>

            <li class="use__item">
              <img src="img/me/photoshop.png" alt="photoshop">
              <p class="use__descr">Photoshop (графический редактор)</p>
            </li>

            <li class="use__item">
              <img src="img/me/filezilla.png" alt="filezilla">
              <p class="use__descr">Filezilla (FTP-клиент с открытым исходным кодом)</p>
            </li>

            <li class="use__item">
              <img src="img/me/open_server_logo.jpg" alt="open_server">
              <p class="use__descr">Open_server (локальный веб-сервер)</p>
            </li>
          </ul>

          <h3 class="use__title">Мое оборудование</h3>

          <ul class="list-reset use__list">
            <li class="use__item">
              <img src="img/me/cpu.png" alt="Процессор">
              <p class="use__descr">Intel Core i5 - 3570K</p>
            </li>

            <li class="use__item">
              <img src="img/me/ram.png" alt="ОЗУ">
              <p class="use__descr">DDR3 10 Гб</p>
            </li>

            <li class="use__item">
              <img src="img/me/video_card.png" alt="Видео">
              <p class="use__descr">Radeon RX 580 8Гб GDDR5</p>
            </li>

            <li class="use__item">
              <img src="img/me/ssd.png" alt="SSD">
              <p class="use__descr">Samsung 860 EVO 250 Гб</p>
            </li>

            <li class="use__item">
              <img src="img/me/desktop-monitor.png" alt="Монитор">
              <p class="use__descr">Samsung FHD 21'</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
