<section class="works">
  <div class="container works__container">
    <ul class="list-reset works__items">
      <li class="works__item">
        <a class="works__link" href="http://achemakin.ru/blanchard/">
          <img class="works__image" src="./img/works/blanchard.jpg" alt="элемент сайта Blanchard">

          <h2 class="works__title">Лэндинг "Blanchard - художественная галерея"</h2>

          <ul class="works__list">
            <li class="works__text">HTML</li>
            <li class="works__text">CSS</li>
            <li class="works__text">JavaScript</li>
            <li class="works__text">Visual Studio Code</li>
            <li class="works__text">PerfectPixel</li>
            <li class="works__text">DevTools</li>
            <li class="works__text">Swiper, Choices, Inputmask, Just-validate, Simplebar, Yandex maps API, Popper
            </li>
            <li class="works__text">PHPMailer</li>
          </ul>
        </a>
      </li>

      <li class="works__item">
        <a class="works__link" href="http://achemakin.ru/high_pass/">
          <img class="works__image" src="./img/works/high_pass.jpg" alt="элемент сайта Blanchard">

          <h2 class="works__title">Лэндинг "High pass - фотостудия"</h2>

          <ul class="works__list">
            <li class="works__text">HTML</li>
            <li class="works__text">SCSS</li>
            <li class="works__text">JavaScript</li>
            <li class="works__text">Gulp</li>
            <li class="works__text">Visual Studio Code</li>
            <li class="works__text">PerfectPixel</li>
            <li class="works__text">DevTools</li>
            <li class="works__text">Inputmask, Just-validate, Yandex maps API
            </li>
          </ul>
        </a>
      </li>

      <li class="works__item">
        <a class="works__link" href="http://achemakin.ru/dmitryAlekseev/">
          <img class="works__image" src="./img/works/dmitryAlekseev.jpg" alt="элемент сайта Дмитрий Алекеев">
          <h2 class="works__title">Cайт-визитка</h2>

          <ul class="works__list">
            <li class="works__text">HTML</li>
            <li class="works__text">CSS, SCSS</li>
            <li class="works__text">JavaScript</li>
            <li class="works__text">Gulp</li>
            <li class="works__text">Node.js</li>
            <li class="works__text">Visual Studio Code</li>
            <li class="works__text">PerfectPixel</li>
            <li class="works__text">DevTools</li>
          </ul>
        </a>
      </li>

      <li class="works__item">
        <a class="works__link" href="http://achemakin.ru/photo_tape/">
          <img class="works__image" src="./img/works/foto.tape.jpg" alt="элемент сайта Foto.tape">

          <h2 class="works__title">Веб-приложение "Photo.type"</h2>

          <ul class="works__list">
            <li class="works__text">JavaScript</li>
            <li class="works__text">Webpack</li>
            <li class="works__text">Node.js</li>
            <li class="works__text">React</li>
            <li class="works__text">Redux</li>
            <li class="works__text">React-router</li>
            <li class="works__text">HTML</li>
            <li class="works__text">CSS, SCSS</li>
            <li class="works__text">Visual Studio Code</li>
            <li class="works__text">DevTools</li>
          </ul>
        </a>
      </li>

      <li class="works__item">
        <a class="works__link" href="http://achemakin.ru/vue-app-moire/">
          <img class="works__image" src="./img//works/Moire.jpg" alt="элемент сайта">

          <h2 class="works__title">Интернет-магазин "Moire"</h2>

          <ul class="works__list">
            <li class="works__text">Vue.js</li>
            <li class="works__text">Vue CLI</li>
            <li class="works__text">Vue Router</li>
            <li class="works__text">Vuex</li>
            <li class="works__text">JavaScript</li>
            <li class="works__text">Node.js</li>
            <li class="works__text">HTML</li>
            <li class="works__text">CSS</li>
            <li class="works__text">Visual Studio Code</li>
            <li class="works__text">DevTools</li>
            <li class="works__text">vue-devtools</li>
          </ul>
        </a>
      </li>

      <li class="works__item">
        <a class="works__link" href="http://achemakin.ru/prod/">
          <img class="works__image" src="./img/works/Fashion.jpg" alt="элемент сайта Fashion">
          <h2 class="works__title">Интернет-магазин "Fashion"</h2>

          <ul class="works__list">
            <li class="works__text">PHP</li>
            <li class="works__text">HTML, CSS</li>
            <li class="works__text">JavaScript, AJAX</li>
            <li class="works__text">OpenServer</li>
            <li class="works__text">Visual Studio Code</li>
            <li class="works__text">DevTools</li>
            <li class="works__text works__text--descr">Для входа а адм. панель перейти http://achemakin.ru/prod/admin/
              Логин: chem@gmail.com Пароль: 123456</li>
          </ul>
        </a>
      </li>

      <li class="works__item">
        <a class="works__link" href="http://achemakin.ru/illustrator/">
          <img class="works__image" src="./img//works/illustrator.jpg" alt="элемент сайта">

          <h2 class="works__title">Лендинг "Adobe Illustrator"</h2>

          <ul class="works__list">
            <li class="works__text">HTML</li>
            <li class="works__text">CSS</li>
            <li class="works__text">Bootstrap 5</li>
            <li class="works__text">Visual Studio Code</li>
            <li class="works__text">PerfectPixel</li>
            <li class="works__text">DevTools</li>
          </ul>
        </a>
      </li>

      <li class="works__item">
        <a class="works__link" href="http://achemakin.ru/evklid/">
          <img class="works__image" src="./img//works/evklid.jpg" alt="элемент сайта">

          <h2 class="works__title">Лендинг "Евклид - Проектные системы"</h2>

          <ul class="works__list">
            <li class="works__text">HTML</li>
            <li class="works__text">CSS</li>
            <li class="works__text">JS</li>
            <li class="works__text">Swiper</li>
            <li class="works__text">jQuery UI</li>
            <li class="works__text">Visual Studio Code</li>
            <li class="works__text">PerfectPixel</li>
            <li class="works__text">DevTools</li>
          </ul>
        </a>
      </li>

      <li class="works__item">
        <a class="works__link" href="http://achemakin.ru/logitechMX/">
          <img class="works__image" src="./img//works/logitech.jpg" alt="элемент сайта">

          <h2 class="works__title">Лендинг "LogitechMX"</h2>

          <ul class="works__list">
            <li class="works__text">HTML</li>
            <li class="works__text">CSS</li>
            <li class="works__text">JS</li>
            <li class="works__text">Swiper</li>
            <li class="works__text">Visual Studio Code</li>
            <li class="works__text">PerfectPixel</li>
            <li class="works__text">DevTools</li>
          </ul>
        </a>
      </li>

      <li class="works__item">
        <a class="works__link" href="http://achemakin.ru/sysadmin/">
          <img class="works__image" src="./img//works/sysadmin.jpg" alt="элемент сайта">

          <h2 class="works__title">Лендинг "Курсы профессиональной переподготовки"</h2>

          <ul class="works__list">
            <li class="works__text">HTML</li>
            <li class="works__text">CSS</li>
            <li class="works__text">Visual Studio Code</li>
            <li class="works__text">PerfectPixel</li>
            <li class="works__text">DevTools</li>
          </ul>
        </a>
      </li>
    </ul>

    <button class="works__button js-btn-all" type="button">Показать все</button>
  </div>
</section>
